*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 

.videoBlock{
    width: 100%;
    height: 100vh;
    display: flex;
} 

.left{
    flex-basis: 60%;
}

.right{
    flex-basis: 40%;
}

.leftVideo{
    width: 900px;
    height: 450px;
    margin: 60px auto;
}

.rightImg{
    width: 400px;
    height: 250px;
    margin: 10px;
}