/* global css file
/*! this is global css file 

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#mainContainer {
    height: 300px;
    width: 400px;
    background-color: rgb(207, 207, 241);
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.head {

    text-decoration: underline;
    color: rebeccapurple
}

.para {
    font-size: 25px;
    text-transform: uppercase;

} */

/*? product cart image global css */
/** {

    position: relative;
    margin: 30px 70px 50px 70px;
    padding: 4px;
    background-color: yellowgreen;   
}
.productdetails{
    background-color: aqua;
    border-radius: 30px;
    height: 390px;
    width: 700px;
    margin: auto;
    border: 1px solid;
    box-shadow: 0 0 40px rgb(255, 255, 255)  
}
h1[id="1"]{
    margin-top: 10px;
    background-color: aqua;
    color: red;
    text-align: center;
    text-decoration: underline;
}
img[classname="img"]{
    margin: 0px 20px 90px 40px;;
    height:250px;
    width:300px;
}
h2[id="2"]{
    background-color: transparent;
    margin: -335px 0px 10px 300px;
    font-size: larger;
}

span.detail-label{
    background-color: transparent;
}

h3[id="desc1"]{
    background-color: aqua;
    margin: 0px 50px 0px 372px;
    color: gray;
    font-size: larger;

}
p[id="desc2"]{
    background-color: aqua;
    margin: 10px 50px 0px 372px;
    color: gray;
    font-size: larger;

}*/

/* .dark{
    background-color: black;
    color: white;
}
.light{
    background-color: lightpink;
    color: darkblue;
} */

/*! task2 */

/* Global CSS */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: aqua;
}
div .title {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: -120px;
    margin-left: 440px;
    text-transform: uppercase;
    text-decoration: underline;
}
main {
    width: 600px;
    border: 2px solid darkblue;
    border-radius: 30px;
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    position: relative;
    margin: 200px;
}

main div img {
    margin-top: -80px;
    border-radius: 100px;
}
 h1 {
    text-align: center;
    color: blue;
    font-size: x-large;
    text-transform: uppercase;
} 
h3 {
    text-align: center;
    margin: 10px;
    text-transform:capitalize;
    color: rgb(16, 7, 7);
}

h4,
p {
    text-align: center;
    color: orangered;
} */

/* CSS -- Axios

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    margin: 40px;
    padding: 10px;
    /* border: 2px solid black */

  }
  
  .product-card {
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    border: 2px solid black

  }
    
  .product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .product-image img {
    border-radius: 40%;
    height: 200px;
    width: 200px;
  }
  
  .product-card h1, .product-card h3, .product-card h4, .product-card p {
    margin: 10px 0;
  } */
  