h1 {
    text-align: center;
    text-decoration: underline;
  }
  
table {
    width: 100%;
    max-width: 700px;
    border-collapse: collapse;
    margin: 20px auto;
    text-align: center;

}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: yellowgreen;
}

th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: lightcoral;
    color: white;
}